i {
  font-size:70px;
  margin: 10px;
  border-radius: 10px;
  color: #03071E;
  background: #FCC55F;
}

i:hover {
  color: white;
  background: #D00000;
}

.set1 {
  position: absolute;
  top: 420px;
  left: 480px;
  display: flex;
  flex-direction: column;
}

.set2 {
  position: absolute;
  top: 420px;
  right: 480px;
  display: flex;
  flex-direction: column;
}

.set3 {
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.set4 {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.set5 {
  position: absolute;
  top: 790px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.set6 {
  position: absolute;
  top: 790px;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.z span{
  z-index: -1;
}

.c1 {
  background: transparent;
  border: 8px dashed #DC2F02;
  border-radius: 50%;
  width: 1200px;
  height: 950px;
  position: absolute;
  top: 20px;
  left: 360px;
  -webkit-animation: rotateY 5s infinite linear;
  animation: rotateY 5s infinite linear;
}

.c2 {
  background: transparent;
  border: 8px dashed #F48C06;
  border-radius: 50%;
  width: 1400px;
  height: 1100px;
  position: absolute;
  top: -50px;
  left: 260px;
  -webkit-animation: rotateY 10s infinite linear;
  animation: rotateY 10s infinite linear;
}

.c3 {
  background: transparent;
  border: 8px dashed #FCC55F;
  border-radius: 50%;
  width: 1900px;
  height: 1100px;
  position: absolute;
  top: -50px;
  left: 3px;
  -webkit-animation: rotateY 15s infinite linear;
  animation: rotateY 15s infinite linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}

@media only screen and (max-width: 1680px) {
  i {
    font-size: 70px;
    margin: 6px;
  }
  .set1 {
    top: 400px;
    left: 400px;
  }
  .set2 {
    top: 400px;
    right: 400px;
  }
  .set3 {
    top: 100px;
    left: 100px;
  }
  .set4 {
    top: 100px;
    right: 100px;
  }
  .set5 {
    top: 650px;
    left: 100px;
  }
  .set6 {
    top: 650px;
    right: 100px;
  }
  .c1 {
    width: 1200px;
    height: 900px;
    top: 20px;
    left: 250px;
  }
  
  .c2 {
    width: 1400px;
    height: 1100px;
    top: -50px;
    left: 150px;
  }
  
  .c3 {
    width: 1900px;
    height: 1300px;
    top: -100px;
    left: -100px;
  }
}

@media only screen and (max-width: 1440px) {
  i {
    font-size: 60px;
    margin: 6px;
  }
  .set1 {
    top: 370px;
    left: 310px;
  }
  .set2 {
    top: 370px;
    right: 310px;
  }
  .set3 {
    top: 100px;
    left: 50px;
  }
  .set4 {
    top: 100px;
    right: 50px;
  }
  .set5 {
    top: 550px;
    left: 50px;
  }
  .set6 {
    top: 550px;
    right: 50px;
  }
  .c1 {
    width: 1000px;
    height: 800px;
    top: 5px;
    left: 210px;
  }
  .c2 {
    width: 1200px;
    height: 900px;
    top: -40px;
    left: 100px;
  }
  .c3 {
    width: 1400px;
    height: 1000px;
    top: -80px;
    left: 10px;
  }
}

@media only screen and (max-width: 800px) {
  i {
    font-size: 55px;
    margin: 5px;
  }
  .set1 {
    top: 370px;
    left: 70px;
  }
  .set2 {
    top: 370px;
    right: 70px;
  }
  .set3 {
    top: 120px;
    left: 30px;
  }
  .set4 {
    top: 120px;
    right: 30px;
  }
  .set5 {
    top: 540px;
    left: 30px;
  }
  .set6 {
    top: 540px;
    right: 30px;
  }
  .c1 {
    width: 800px;
    height: 750px;
    top: 20px;
    left: 0;
  }
  .c2 {
    width: 1000px;
    height: 850px;
    top: -15px;
    left: -100px;
  }
  .c3 {
    width: 1100px;
    height: 950px;
    top: -60px;
    left: -150px;
  }
}

@media only screen and (max-width: 500px) {
  i {
    font-size: 40px;
    margin: 5px;
  }
  .set1 {
    top: 318px;
    left: 5px;
  }
  .set2 {
    top: 318px;
    right: 5px;
  }
  .set3 {
    top: 195px;
    left: 5px;
  }
  .set4 {
    top: 195px;
    right: 5px;
  }
  .set5 {
    top: 445px;
    left: 5px;
  }
  .set6 {
    top: 445px;
    right: 5px;
  }
  .c1 {
    width: 800px;
    height: 600px;
    top: 50px;
    left: -150px;
  }
  .c2 {
    width: 900px;
    height: 700px;
    top: 0px;
    left: -200px;
  }
  .c3 {
    width: 1000px;
    height: 800px;
    top: -50px;
    left: -255px;
  }
}