i {
  font-size:70px;
  margin: 10px;
  border-radius: 10px;
  color: #03071E;
  background: #FCC55F;
}

i:hover {
  color: white;
  background: #D00000;
}

.set1 {
  position: absolute;
  top: 420px;
  left: 500px;
  display: flex;
  flex-direction: column;
}

.set2 {
  position: absolute;
  top: 420px;
  right: 480px;
  display: flex;
  flex-direction: column;
}

.set3 {
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.set4 {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
}

.set5 {
  position: absolute;
  top: 790px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.set6 {
  position: absolute;
  top: 790px;
  right: 50px;
  display: flex;
  flex-direction: column;
}