* {
  background-color: #03071E;
  color: white;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
}

p, li {
  font-family: 'Sora', sans-serif;
}

@media only screen and (max-width: 1440px) {
  .App {
    
  }
}